li {
    border-radius: 0.5em;
    box-shadow: 2px 2px 5px #cfd7c7;
    padding: 1em;
    margin: 0.5em;
    background-color: #cfd7c7;
    font-size: 1.3rem;
    list-style-type: none;
    width: 50vw;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.name {
    font-weight: bold;
    flex-grow: 1;
}

.number a {
    color: #40798c;
    font-family: monospace;
    font-weight: bold;
    text-decoration: none;
    flex-grow: 1;
}

.number a:hover {
    cursor: pointer;
    text-decoration-style: dashed;
}